body {
	font: 100% Calibri, Helvetica, Arial, sans-serif;
}

main {

}

#home_page {

}

#home_page p {
	padding: 0 .3em 0 .3em;
}

#kick_page {

}

#loader {
	display: none;

}

#setup_page {

}

.darker {
	color: rgba(255,255,255,0.5);
}

.listing {
	background-color: rgba(255,255,255,0.2);
}

.listing_page {	
	padding: 0.3em;
}

.listing_page h2, p , img {
	margin: 0;
}

.listing_page  p {
	margin-bottom: .3em;
}

.meter {
	border-bottom: 2px solid red;
}

.smaller {
	font-size: smaller;	
}
