<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.crowdfinger.cf"
    version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Crowdfinger Pro</name>

    <description>
      Check your favorite crowdfunding campaigns. 
	  Pro version features picture grid, more details, social sharing, search, and an additional data source.
    </description>

    <author href="https://datavisions.wordpress.com" email="christopherccraven@students.abtech.edu">
      Christopher Craven 
    </author>

    <!--
      This allows your app to load assets from all *.phongap.com domains
    -->
    <access origin="*" />
	<!-- Include Eddy Verbruggen social plugin -->
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
</widget>